:root {
    --header-footer-color: #0a223c;
    --font-selected-color: #75f695;
    --bg-color: #1d1d1d;
    --card-bg-color: #26303a;
    --bg-color-secondary: #d1d1d1;
    --primary-color: #343a40;
    --secondary-color: #000000;
    --primary-text-color: #ffffff;
    --secondary-text-color: #89e683;
    --selected-color: #157347;
    --selected-color-hover: #1573474a;
    --background-input: #1d1d1d4a;
    --color-input: #ffffff;
    --link-color: #ffffff;
    --link-hover-color: gray;
    --text-muted-color: #6c757d;
    --red: #Ff0000;
  }

body{
    margin: 0px;
    padding: 0px;
}

input{
    width: 100%;
    border-radius: 8px;
    border-style: solid;
    height: 30px;
    text-indent: 5px;
    color: #1d1d1d;
    outline: 0;
}

label {
    display: flex !important;
    align-items: center !important;
    padding: 0.375rem 0.75rem !important;
    line-height: 1.5 !important;
    text-align: center !important;
    border-radius: 0.25rem !important;
    border-right: none !important;
    white-space: nowrap !important;
}

textarea{
    width: 100%;
    resize: none !important;
    background-color: var(--color-input) !important;
    color: black !important;
    border-radius: 8px;
    border-style: solid;
    outline: 0;
    text-indent: 5px;
}

